<article>
    <div class="principal-image">
    </div>
    <div class="entry-title">
        <h1>
            Título de la Nota
        </h1>
    </div>

    <div class="entry-details">
        <div class="author">
            <h5>Por <strong> Insertar Autor</strong></h5>
        </div>
        <div class="user-twitter">
            <h5>@twitter</h5>
        </div>
        <div class="date">
            <h6>6 de noviembre, 2019</h6>
        </div>
    </div>
    <hr/>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, maiores? Mollitia eum magni dolorum provident.
        Neque, deleniti ipsum quia reprehenderit consequatur consectetur earum laboriosam eveniet! Eaque iste repellat
        cumque est.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, maiores? Mollitia eum magni dolorum provident.
        Neque, deleniti ipsum quia reprehenderit consequatur consectetur earum laboriosam eveniet! Eaque iste repellat
        cumque est.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, maiores? Mollitia eum magni dolorum provident.
        Neque, deleniti ipsum quia reprehenderit consequatur consectetur earum laboriosam eveniet! Eaque iste repellat
        cumque est.
    </p>
</article>