.modal {
   // display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
   // background-color: rgb(0,0,0); 
   background-image:url(./jour.jpg) ;
   // background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
    font-family: Lora;
    font-size: 12px;
    
}
label{
  color: white;
}
label:hover{
  color:#004FAE;
}
#form-switch {
  display:none;
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}
.modal-content-register {
    opacity: 1;
    background-color: #2D2D2D;
    margin: auto;
    border: 1px solid white;
    width: 300px;
    height: 520px;

    //center 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content-login {
  opacity: 1;
  background-color: #2D2D2D;
  margin: auto;
  border: 1px solid white;
  width: 300px;
  height: 300px;

  //center 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
      padding: 5%;
}

.container{
    height: 100%;
    margin: auto;
    width: 60%;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Lora;
    font-size: 12px;
  }

 
  button {
    background-color: #004FAE;
    color: white;
    padding: 5px 5px;
    margin: 0px 0;
    border: none;
    border-radius: 5px;
    font-family:Lora;
    font-size: 13px;
    cursor: pointer;
    width: 100px;
  }
  
  button:hover {
    opacity: 0.8;
  }


  a.links{
    text-decoration: none;
    color: #004FAE;
    width: 100%;
    font-size: 12px;
    width: 100%;
}

a.links:hover{
    color: #888;
}